---
layout: post
comments: true
title:  "Jekyll: 구글 사이트 인증 (Google Site Verification) 추가하기"
date:   2020-03-04 11:30:00 +0900
categories: Jekyll Language Grammar Closure
---

구글 사이트 인증 코드를 Jekyll 블로그에 추가하는 방법입니다.

다음의 참고자료들을 활용하여 진행했습니다.

하지만 구글에서 실제 인증이 이루어지려면 시간이 걸린다고 해서 하루, 이틀 뒤에 다시 인증 버튼을 누르도록 하겠습니다.

### 참고 자료

[Verifying with Google Webmaster](https://github.com/jekyll/jekyll/issues/3514)

[Make your Jekyll Github Pages appear on Google search result (2 steps)](https://victor2code.github.io/blog/2019/07/04/jekyll-github-pages-appear-on-Google.html)
