---
layout: page
title: All Posts
---

<div class="home">

    <h1 class="page-heading">Posts</h1>
  
    {% for post in paginator.posts %}
      {{ post.date | date: "%b %-d, %Y" }} • <a href="https://xho95.github.io{{ post.url }}#disqus_thread">0 Comments</a><br />
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h2 class="list">{{ post.title }}</h2></a><br />
    {% endfor %}
  
    <!-- old code
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} • <a href="https://xho95.github.io{{ post.url }}#disqus_thread">0 Comments</a></span>
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        </li>
      {% endfor %}
    </ul>
  -->
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  
  </div>