<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script id="dsq-count-scr" src="//{{ site.disqus }}.disqus.com/count.js" async></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- xho95_ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3062100395785862"
         data-ad-slot="4830557337"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </body>

</html>
